.widget{
    background-color: #ccc;
    margin-bottom: 20px;
}
.sugestaoitem{
    height:40px;
    width:50px;
    line-height:40px;
}
.sugestaoitem button{
    align:right;
    float:left;
    height: 50px;
}